body{
    margin: 0;
    padding: 0;
    font-family: monospace, "Lucida Console";
    background: linear-gradient(120deg, #666, #000);
    height: 100vh;
    overflow: hidden;
  }


.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }